
<h2>Career form</h2>
<h4>{{statusMsg}} </h4>
<form [formGroup]="careerForm" (ngSubmit)="onupload(careerForm)" enctype="multipart/form-data">
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
    <div class="alert" *ngIf="!careerForm.controls['name'].valid && careerForm.controls['name'].touched">{{requiredMsg}}</div>
  </div>
  <div class="form-group">
    <label class="center-block">Email:
      <input class="form-control" formControlName="email">
    </label>
  </div>

  <div class="form-group">
    <label class="center-block">Upload Resume:
      <input type="file" class="form-control" formControlName="resume"    (change)="handleFileInput($event.target.files)" >
    </label>
  </div>
  <input type="submit" value="Submit" class="button expanded" [disabled]="!careerForm.valid"/>
</form>